{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{%static "css/styles.css" %}'>
    
    <title>Nire Django Blog</title>
</head>
<body>
    <center><h1>Liburua Gehitu</h1></center>
    <br><br>

    <form action="addliburua/" method="post">
        {% csrf_token %}
        
        Liburuaren izenburua: <input type="text" name="izenburua">
        Liburuaren edukia: <input type="text" name="edukia">

        Liburuaren autorea:<select id="autorea" name="autorea"> 
            {% for autorea in autoreak %}
                <option value="{{autorea.id}}">{{autorea.izena}}</option>
            {% endfor %}
        </select>
        <button type="submit" value="submit">Post-a sortu</button>
        
       
    </form>

    


</body>
</html>