<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Nire Django Blog</title>
</head>
<body>
    <center><h1>Post Bat Gehitzeko Ondorengo Formulario Bete</h1></center>
    <br><br>

    <form action="/updateautorea/{{id}}" method="post">
        {% csrf_token %}
        
        Autorearen izena: <input type="text" name="izena" value="{{autorea.izena}}">
        Autorearen abizena: <input type="text" name="abizena" value="{{autorea.abizena}}">
        Autorearen jaiotze data:<input type="date" name="jaiotze_data" value="{{autorea.jaiotze_data|date:'Y-m-d'}}">
        <button type="submit" value="submit">Autorea sortu</button>
        
       
    </form>

    


</body>
</html>