{% extends 'base.html' %}

{% block content %}
    <table border="1">
        {% for post in posta %}
        <tr>
            <td>
                
                    <div>
                    <p>
                    <h2>{{post.id}}</h2>
                    </p>
                            <p>
                    <h2>{{post.izenburua}}</h2>
                    </p>
                            <p>{{post.edukia}}</p>
                    <p>
                    <h2>{{post.noizsortua}}</h2>
                    </p>
                    
                       
                </div>

                    
            </td>

            <td>
                <a href="ezabatu/{{post.id}}" color="red">ezabatu</a>
            </td>
            <td>
                <a href="update/{{post.id}}/"> aldatu</a>
            </td>

        </tr>
        {% endfor %}
    </table>
    <a href="add/">Gehitu posta</a>
    {% endblock content %}

