{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{%static "css/blog.css" %}'>
    <title>Nire Django Blog</title>
</head>
<body>
    <center><h1>Post Bat Gehitzeko Ondorengo Formulario Bete</h1></center>
    <br><br>

    <form action="/updatepost/{{id}}" method="post">
        {% csrf_token %}
        Postaren izenburua: <input type="text" name="izenburua" value="{{post.izenburua}}">
        Postaren edukia: <input type="text" name="edukia" value="{{post.edukia}}">

        <button type="submit" >Post-a sortu</button>
    </form>

    


</body>
</html>